// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image1 {
  border: 1px solid red;
  height: 183px;
  background-image: image-url('image1.jpg');
  // background-image: url(image-path('image1.jpg'));
  // background-image: asset-url('image1.jpg');
  // background-image: url(asset-path('image1.jpg'));

}
